# Ignorar arquivos do sistema
.DS_Store

# Ignorar arquivos temporários e de build
build/
gradle/
.gradle/
*.jar
*.war
*.class

# Ignorar arquivos de configuração sensíveis
src/main/resources/serviceAccountKey.json
