# IDEs
.idea/
*.iml

# macOS
.DS_Store

# Gradle
.gradle/
build/

# Docker
.dockerignore

# Logs
*.log

# Compiled class file
*.class

# JAR files
*.jar

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar

# Local configuration files
*.properties

# Environment files
.env

# Other
*.swp
*~